body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    color: #333;
}

nav {
    background: #0d47a1;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ffeb3b;
}

.hero {
    background: linear-gradient(to right, #1565c0, #42a5f5);
    color: white;
    padding: 60px 20px;
    text-align: center;
}

section {
    padding: 40px 20px;
    text-align: center;
}

.image-ad img {
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.video-box {
    background: white;
    padding: 15px;
    border-radius: 12px;
    max-width: 500px;
    margin: auto;
}

.pricing {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.price-box {
    background: #e3f2fd;
    padding: 20px;
    border-radius: 12px;
    width: 220px;
    font-weight: bold;
    
}

form {
    max-width: 480px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

form input,
form select,
form textarea,
form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

form button {
    background: #0d47a1;
    color: white;
    border: none;
    cursor: pointer;
}

.whatsapp-chat {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25d366;
    color: white;
    padding: 12px 18px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}
#viewCount{
    display: none;
}
label {
    display: block;
    margin-top: 12px;
    font-weight: 600;
}

input[type="url"] {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
}